_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
assets/papers
_plugins
private_blog
*.swp
*.lock
.bundle
.obsidian/**
.ipynb_checkpoints/**
assets/images/boda/Sandra.jpg
assets/images/boda/portrait02.jpg
assets/images/boda/portrait01.jpg
assets/images/boda/collage01.png
assets/images/boda/Canoe01_dynamic_cut.jpg
assets/images/boda/Canoe01_dynamic.jpg
assets/images/boda/Canoe01.jpg
assets/images/boda/Achim.jpg
