body {
  --boda-color: #5e6f3f;
}

h1, h2:not(.footer-heading), h3 {
  color: var(--boda-color);
}

a:hover {
  color: var(--boda-color);
  text-decoration: underline;
}

a, a:visited {
  color: var(--boda-color);
  text-decoration: none;
}

