---
layout: default
---
{% assign books = site.books | where: "book_id", page.book_id %}
{% assign book = books[0] %}
{% assign bas = site.book_authors |where: "name", book.author %}
{% assign book_author = bas[0] %}
<table>
    <tr> 
        <td width="120px">
            <a href="{{ site.baseurl }}{{ book.url }}">
                <img src="{{ site.baseurl }}/assets/images/thumbnails/{{ book.thumbnail }}">
            </a>
        </td>
        <td>
            <h1><a href="{{ site.baseurl }}{{ book_author.url }}">{{ book.author }}</a></h1>
            <h2>{{ book.title}}</h2>
            {{ page.page }}
        </td>
    </tr>
</table>
    
<span class="post-meta">{{ post.date | date_to_string }}</span>
<h3>
  <a class="post-link" href="{{ post.url | relative_url }}">
    {{ post.title | escape }}
  </a>
</h3>

<hr>
<br>

{{ content }}

<hr>
