---
layout: default
---
<h1>{{ page.name }}</h1>
<br><br>
{% assign category_posts = site.posts | where: "category", page.category %}
{% assign author_books = site.books | where: "author", page.name %}

<table>
    {% for post in category_posts %}
        {% assign book = author_books | where: "book_id", post.book_id | first %}
        {% if book.author == page.name %}
            <tr> 
                <td width="120px">
                    <a href="{{ site.baseurl}}{{ book.url }}">
                        <img src="{{ site.baseurl }}/assets/images/thumbnails/{{ book.thumbnail }}">
                    </a>
                </td>
                <td>
                    <span class="post-meta">{{ post.date | date_to_string }}</span>
                    <h3>
                        <a class="post-link" href="{{ post.url | relative_url }}">
                            {{ post.title | escape }}
                      </a>
                    </h3>
                    {% if site.show_excerpts %}
                        {{ post.excerpt }}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>


