---
layout: default
---
<h1> {{ page.title }} </h1>
{{ page.intro }}

<br><br>

{% assign category_posts = site.posts | where: "category", page.category %}
<table>
    {% for post in category_posts %}
        {% assign book = site.data.books_db[post.book_id] %}
        <tr> 
            <td width="120px"><img src="{{ site.baseurl }}/assets/images/thumbnails/{{ book.thumbnail }}"></td>
            <td>
                <span class="post-meta">{{ post.date | date_to_string }}</span>
                <h3>
                    <a class="post-link" href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                  </a>
                </h3>
                {%- if site.show_excerpts -%}
                    {{ post.excerpt }}
                {%- endif -%}
            </td>
        </tr>
    {% endfor %}
</table>
