<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <div style="display: none">
    {% include mathjax.html %}
    {% include math_header.html %}
  </div>
  {%- include head.html -%}
  <body>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/default.css"></script>
    {% if page.custom_css %}
      {% for css_file in page.custom_css %}
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ css_file }}.css"></script>
      {% endfor %}
    {% endif %}

    {% include header.html %}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}

        {% if paginator.total_pages > 1 %}
        <hr><br>
        
        <div align="center" class="pagination">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
          {% else %}
            <span>&laquo; Prev</span>
          {% endif %}
        
          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <b>{{ page }}</b>
            {% elsif page == 1 %}
              <a href="/">{{ page }}</a>
            {% else %}
              <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
          {% endfor %}
        
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
          {% else %}
            <span>Next &raquo;</span>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </main>

    {%- include footer.html -%}
  </body>
</html>
